*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "box1 box1 box1"
        "box2 box3 box4"
        "box5 box5 box5";
}

.text {
    width: 100%;
    position: absolute;
    top: 275px;
    text-align: center;
    background: transparent;
    left: 0;
    left: 0%;
}

.text p{
    color:black;
    font-size: 2.5em;
    text-align: center;
    background: #585858;
    display:inline-block;
    padding:8px;
}

.box1{
    background-color: rgb(146, 146, 146);
    grid-area: box1;
    height: 213.5px;
}

.box2{
    background-color: rgb(163, 163, 163);
    grid-area: box2;
}

.box3{
    background-color: rgb(112, 112, 112);
    grid-area: box3;
}

.box4{
    background-color: rgb(163, 163, 163);
    grid-area: box4;
}

.box5{
    background-color: rgb(190, 190, 190);
    grid-area: box5;
    height: 400px;
}

p{
    padding: 30px;
}

.box4,
.box2,
.box3 {
    height: 800px;
}


.header-flex{
    display:flex;
}

.header-flex div{
    border: 1px solid black;
    height: 205px;
    width: 100%;
}

.footer-flex{
    display: flex;
}

.footer-flex div{
    border: 1px solid black;
    height: 50vh;
    width: 100%;
}

.footer-flex div:nth-of-type(2){
    background-color: rgb(146, 146, 146);
}

.container{
    align-items: center;
}