*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: grid;
    grid-template-areas: 
        "box1 box1 box1"
        "box2 box3 box4"
        "box5 box5 box5"
        "box6 box6 box6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.text {
    background: transparent;
    left: 0;
    left: 0;
    position: absolute;
    text-align: center;
    top: 275px;
    width: 100%;
}

.text p{
    background: #585858;
    color:black;
    display:inline-block;
    font-size: 2.5em;
    padding:8px;
    text-align: center;
}

.box1{
    background-color: rgb(146, 146, 146);
    grid-area: box1;
    height: 213.5px;
}

.box2{
    background-color: rgb(163, 163, 163);
    grid-area: box2;
}

.box3{
    background-color: rgb(112, 112, 112);
    grid-area: box3;
}

.box4{
    background-color: rgb(163, 163, 163);
    grid-area: box4;
}

.box5{
    background-color: rgb(190, 190, 190);
    grid-area: box5;
    height: 600px;
}

.box6{
    grid-area: box6;
}

.box7{
    grid-area: box7;
}

.box8{
    grid-area: box8;
}

.box9{
    grid-area: box9;
}

.box10{
    grid-area: box10;
}

.box11{
    grid-area: box11;
}

.box12{
    grid-area: box12;
}

p{
    padding: 30px;
}

.box4,
.box2,
.box3 {
    align-items: center;
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    font-size: 48px;
    height: 800px;
}


.header-flex{
    align-items: center;
    display:flex;
    height: 100%;
    justify-content: space-around;
}

.header-flex div{
    border: 1px solid black;
    height: 90%;
    width: 13%;
}

.footer-flex{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.footer-flex div{
    border: 1px solid black;
    font-family: 'Amiri', serif;
    font-size: 30px;
    height: 90%;
    padding: 15px;
    width: 23%;
    color: rgb(47, 47, 47);
}

.footer-flex div h1{
    font-family: 'Baloo Bhai', cursive;
    font-size: 38px;
    text-decoration: underline;
    padding-bottom: 25px;
    color: black;
}


.footer-flex div:nth-of-type(2){
    background-color: rgb(146, 146, 146);
}

.footer-flex div:nth-of-type(4){
    display: flex;
    justify-content: center;
    align-items: center;
}